<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                  <div class="d-flex align-item-center justify-content-between">
                    <h5>Movies</h5>

                    <button type="button" class="btn btn-sm btn-primary" (click)="navigate()"><i class="fas fa-plus"></i></button>
                  </div>
                </div>
                <div class="card-body">
<div class="row">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Action</th>
            <th scope="col">Movie name</th>
            <th scope="col">Artist</th>
            <th scope="col">Release Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of moviesList; let i=index">
            <td>{{i+1}}</td>
            <td>
              <!-- Edit Icon -->
               <button class="btn btn-sm btn-primary px-2 py-1 me-2" title="update"><i class="fas fa-edit" (click)="editMovie(item.id)"></i></button>
               <button class="btn btn-sm btn-danger px-2 py-1" title="delete"> <i class="fas fa-trash" (click)="deleteMovie(item.id)"></i></button>

             
            </td>
           
                       <td >{{item?.title}}</td>
           <td>{{item?.genre}}</td>
           <td>{{item?.releaseDate | date:'dd-MM-yyyy'}}</td>
          </tr>
           </tbody>
      </table>
</div>
                </div>
            </div>
        </div>
    </div>
</div>